.feedbackSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.feedbackContainer {
  flex: 1;
}
.answerContainer {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .feedbackSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
